:root, 
a:hover,input[type="button"]:hover, button:hover
{
  cursor: none;
}

html, 
body, 
#__nuxt {
  position: relative;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  color-scheme: dark;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-none {
  scrollbar-width: none;
}

.overflow-omission {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-wrap: wrap;
  overflow-wrap: break-word;
}